<div class="jumbotron">
    <h1>Hola Mundo</h1>

    <h2>Angela says hello</h2>

    <h3>Mahomes throws an interception</h3>

    <div>
        <h1>Slippy nooooo!</h1>
        <p>
            <img src="~/img/hqdefault.jpg" />
        </p>
    </div>
</div>

