<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<div class="jumbotron container text-center">
<h1>The new and improved<span class="badge badge-secondary"</span>PLANET EXPRESS</h1>

<body>
    <div class="container">
        <h3>All hail...</h3>
        <img src="~/img/all_hail_the_hypnotoad____by_elnano93.gif" />
        <h1>HYPNOTOAD</h1>
    </div>
    @RenderBody()
</body>
</html>